*.exe
benchmarks/*/*.txt
!benchmarks/*/CMakeLists.txt
*/build/*
!.cc
*.app
.vs
.vscode
.tmp
/include/.vscode
/include/fast_io_network/.vscode/settings.json
CMakeSettings.json
*/isenseconfig/*
build
out
